* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

header {
  background-color: #c3bef0;
  padding: 60px;
  font-weight: 400;
  width: 100%;
}
h1 {
  color: black;
  margin: 40px 40px 0 40px;
}
.nav {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #cadefc;
  color: #4e4e4e;
  min-height: 100%;
}
.left img {
  border-radius: 100%;
  border: 7px solid #defcf9;
  margin: 0 25px;
  width: 350px;
  height: 350px;
}
.left {
  padding: 20px;
}
.right {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  text-align: left;
  height: fit-content;
  align-self: center;
  transition: color 0.3s;
  padding: 40px;
}
.right,
.left {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-basis: 50%;
  margin: 12px 0 0;
}
ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  align-self: center;
}
.nav li a {
  color: white;
  text-decoration: none;
  padding: 20px;
  transition: color 0.3s;
}
.nav li a:hover {
  background-color: #cca8e9;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
}
@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    margin: 0 20px;
  }

  .left img {
    width: 290px;
    height: 290px;
  }
}

@media only screen and (min-width: 769px) {
  .content {
    max-width: 800px;
  }
}

.social-links {
  margin-bottom: 20px;
  list-style: none;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
.social-links li {
  justify-content: center;
}
.social-links a {
  text-decoration: none;
}
.social-links a img {
  width: 30px;
  height: 30px;
}
footer {
  background-color: #c3bef0;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  padding: 40px;
  width: 100%;
}
footer p {
  color: white;
}
